<div class="row">
  <div class="col-md-6">
    <h3>Pre-exercises</h3>
    <h5><strong>Completing the required pre-exercises makes full participation in the workshop possible! Submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSfinzqqOt3tNOchikFQRoA4EYnJXuWOV1JBWTBCPnELM-86AA/viewform" target=_blank>homework responses</a> as you complete the pre-exercises.</strong></h5>
    <table class="table table-striped">
        <tr><td>Mandatory 5 min</td><td><a href="ORIENTATION.html">Orientation</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-docker">Docker containers</a></td></tr>
        <tr><td>Mandatory 4h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cpp-root-python/">ROOT with C++ and Python</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cmssw/">Intro to CMSSW</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-introcloud/">Intro to cloud computing</a></td></tr>
    </table>
    <h3>Pre-Learning</h3>
    <h5>The following concepts are important for using Open Data independently, but will not be taught live during the workshop.</h5>
    <table class="table table-striped">
        <tr><td>30m</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cms-detector/">Overview of the CMS detector</a></td></tr>
        <tr><td>2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-dataset-scouting/">Dataset scouting</a></td></tr>
        <tr><td>2h</td><td><a href="https://cms-opendata-workshop.github.io/workshop2023-lesson-physics-objects/">Physics Objects</a></td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Tuesday</h3>
    <table class="table table-striped">
      <tr><td>8:00-8:20</td><td style="background-color:#f4cccc"><a style="color:black" href="https://indico.fnal.gov/event/58914/timetable/">Welcome and Introductions</a></td><td>Matt Bellis</td></tr>
      <tr><td>8:20-9:20</td><td style="background-color:#f4cccc"><a style="color:black" href="https://indico.fnal.gov/event/58914/timetable/">How do you take your cup of CMS Open Data?</a></td><td>Julie Hogan<br>Rikab Gambhir</td></tr>
      <tr> <td>9:20-9:40</td><td>Break</td><td></td></tr>
      <tr><td>9:40-10:20</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-selection/">Event selection introduction</a></td><td>Julie Hogan</td></tr>
      <tr><td>10:20-11:00</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-selection/">Event selection exploration</a></td><td>Julie Hogan</td></tr>
      <tr> <td>11:00-11:20</td><td>Break</td><td></td></tr>
      <tr><td>11:20-12:00</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-selection/">Event selection discussion</a></td><td>Julie Hogan</td></tr>
      <tr><td>Offline</td><td style="background-color:#fff2cc"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-advobjects/">Advanced tools intro reading</a></td><td></td></tr>
      <tr><td>Offline</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-ttbarljetsanalysis/">Analysis example intro reading</a></td><td></td></tr>
    </table>
  </div>
  <div class="col-md-6">
      <h3>Wednesday</h3>
    <table class="table table-striped">
      <tr><td>8:00-8:40</td><td style="background-color:#fff2cc"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-advobjects/">Advanced tools exploration</a></td><td>Julie Hogan</td></tr>
      <tr><td>8:40-9:20</td><td style="background-color:#fff2cc"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-advobjects/">Advanced tools activity</a></td><td>Julie Hogan</td></tr>
      <tr> <td>9:20-9:40</td><td>Break</td><td></td></tr>
      <tr><td>9:40-10:20</td><td style="background-color:#fff2cc"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-advobjects/">Advanced tools discussion</a></td><td>Julie Hogan</td></tr>
      <tr><td>10:20-11:00</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-ttbarljetsanalysis/">Analysis example introduction</a></td><td>Matt Bellis</td></tr>
      <tr> <td>11:00-11:20</td><td>Break</td><td></td></tr>
      <tr><td>11:20-12:00</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-ttbarljetsanalysis/">Analysis example exploration</a></td><td>Matt Bellis</td></tr>
      <tr><td>Offline</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-ttbarljetsanalysis/">Analysis example challenge</a></td><td></td></tr>
      <tr><td>Offline</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-introcloud/">Cloud processing setup <strong>(Required!)</strong></a></td><td></td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Thursday</h3>
    <table class="table table-striped">
      <tr><td>8:00-8:40</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-ttbarljetsanalysis/">Analysis example solutions</a></td><td>Matt Bellis</td></tr>
      <tr><td>8:40-9:20</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-ttbarljetsanalysis/">Analysis example discussion</a></td><td>Matt Bellis</td></tr>
      <tr> <td>9:20-9:40</td><td>Break</td><td></td></tr>
      <tr><td>9:40-10:20</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cloud/">Cloud processing introduction</a></td><td>Romina Trujillo Carrera</td></tr>
      <tr><td>10:20-11:00</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cloud/">Cloud processing demonstration</a></td><td>Xavier Tintin</td></tr>
      <tr> <td>11:00-11:20</td><td>Break</td><td></td></tr>
      <tr><td>11:20-12:00</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cloud/">Cloud processing activity</a></td><td>Xavier Tintin</td></tr>
      <tr><td>Offline</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-reinterpretation">Reinterpretation intro reading</a></td><td></td></tr>
    </table>
  </div>
  <div class="col-md-6">
      <h3>Friday</h3>
    <table class="table table-striped">
      <tr><td>8:00-8:40</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cloud/">Cloud processing challenge</a></td><td>Xavier Tintin </td></tr>
      <tr><td>8:40-9:20</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-cloud/">Cloud processing discussion</a></td><td>Kati Lassila-Perini</td></tr>
      <tr> <td>9:20-9:40</td><td>Break</td><td></td></tr>
      <tr><td>9:40-10:20</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-reinterpretation/">Reinterpretation introduction</a></td><td>Sezen Sekmen</td></tr>
      <tr><td>10:20-11:00</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshop2023-lesson-reinterpretation/">Reinterpretation exploration</a></td><td>Sezen Sekmen</td></tr>
      <tr> <td>11:00-11:20</td><td>Break</td><td></td></tr>
      <tr><td>11:20-12:00</td><td style="background-color:#f4cccc"><a style="color:black" href="fixme">Closing discussion and feedback</a></td><td>Kati Lassila-Perini</td></tr>
    </table>
  </div>
</div>
